 /* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Image Styles */
.image_div img {
    width: 100%;
    height: 10vh;
    object-fit: cover;
    border-radius: 6px;

}

/* Figure Styles */
figure {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    /* align-items: left; */
}

/* Figcaption Styles */
figcaption {
    width: 100%;
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* margin-bottom: -50rem; */
}

/* Title Division Styles */
.title_div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: -3rem;
    padding-right: -5rem;
    margin-top: 0;
    text-align: left;
}

.title_div p {
    font-size: 16px;
    font-weight: bold;
}

/* Article Styles */
article {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Button Division Styles */
.button_div {
    display: flex;
    padding: 10px 0;
    flex-wrap: nowrap;
}

/* Button Styles */
button {
    margin: 4px;
    border: none;
    font-size: 8px;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 5px;
    white-space: nowrap;
    display: inline-block;
    color: #011948;
    background-color: #dedede;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Price Styles */
.price {
    font-size: 12px;
    margin-left: 4px;
    margin-top: -20px;
    text-align: start;
    color: #909090;
    text-align: left;
}
.fcp{
    max-height: 252px;
}
/* Responsive Styles */
@media (max-width: 841px) {
    figcaption {
        width: 100%;
        padding: 12px 0;
    }
    
    .title_div {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .title_div p {
        font-weight: bold;
        font-size: 16px;
    }
}