.acc_container{
    height: 683px;
    /* width: 1256px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 4rem;
    /* flex-basis: 50%; */
    
}
.text_acc{
    
    margin-left: 90px;
    width: 45%;
    margin-right: 12px;
}
.acc_title{
    color: #1f4b43;
    margin-bottom: 5px;
    font-size: 38px;
    
    
}
.acc_subtitle{
    font-weight: normal;
    color: #1f4b43;
    margin-bottom: 7px;
    padding-right: 18px;
    font-size: 38px;
}
.acc_body{
    margin-bottom: 20px;
}
.h{
    height: 489px;
    width: 651px;
    margin-right: 70rem;
    margin-left: -50px;
    /* padding-left: 10rem; */
    /* overflow: hidden; */
    padding: 0;
    margin-bottom: -5rem;
}
.c{
    height: 43px;
    width: 130px;
 margin-top: -5rem;
   margin-left: -27rem;
}

