
    /* Discover Container Styles */
.discover_container {
    background: url("assets/discover.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5rem 0;
    margin-bottom: 0px;
}

/* Discover Division Styles */
.discover_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.discover_div h2 {
    color: white;
    padding: 12px;
    font-size: 50px;
}
.text{
    padding-right: 20px;
    width: 640px;
    text-align: center;
}