.comp_container{
    height: 575px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.main_text{
    width: 483px;
    margin-right: 10rem;
    text-align: start;
    margin-top: 12rem;
}

.image_guide{
    height: 575px;
    width: 471px;
    margin-left: 2rem;
    margin-top: 8px;
    margin-bottom: -6px;
}

.title, 
.subtitle{
    font-size: 38px;
    
}
.title{
    margin-bottom: 2px;
    font-weight: normal;
    color: #1f4b43;
}
.subtitle{
    margin-top: 0px;
    color: #1f4b43;
}
.body{
    font-size: 16px;
    font-weight: medium;
    margin-bottom: 20px;
}